<form method="POST">
    <label>Faculty:</label><br>
    <select name="faculty" required>
        <option value="">Select your faculty</option>
        <option value="FCI">FCI</option>
        <option value="FAIE">FAIE</option>
        <option value="FOM">FOM</option>
        <option value="FCM">FCM</option>
        <option value="FCA">FCA</option>
        <option value="FOB">FOB</option>
        <option value="FAC">FAC</option>
        <option value="FOL">FOL</option>
    </select><br><br>

    <button type="submit">Next</button>
</form>
