<form method="POST" enctype="multipart/form-data" action="{{ url_for('edit_profile', user_id=user.id) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>Upload Your Profile Picture:</label><br>
            {% if user.avatar %}
                <img src="{{ url_for('static', filename='uploads/user_avatars/' + user.avatar) }}"
                    class="avatar preview-avatar"
                    id="avatar-preview"
                    onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/default_avatar.jpg') }}'">
            {% else %}
                <img src="{{ url_for('static', filename='images/default_avatar.jpg') }}"
                    class="avatar preview-avatar"
                    id="avatar-preview">
            {% endif %}
            <input type="file" name="avatar" accept="image/*" id="avatar_upload" style="display: none;">

    <button type="submit">Upload</button>
</form>

<form method="POST">
    <input type="hidden" name="skip" value="true">
    <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">Skip for now</button>
</form>