<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li style="color: green;">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>Sign up</h2>
    <form method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>
         
        <label>Password:</label><br>
        <input type="password" name="password"required><br><br>
        
        <label>Confirm Password:</label><br>
        <input type="password" name="confirm_password"required><br><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>