<!DOCTYPE html>
<html lang="zh-en">
<head>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dating App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>    
    <nav class="navbar">
    <!-- From Uiverse.io by zymantas-katinas --> 
        <button class="button" onclick="window.location.href='/'">
            <span class="shadow"></span>
                <span class="edge"></span>
                    <div class="front">
                <span>ForMchat</span>
            </div>
        </button>
        <label class="event-wrapper">
            <input type="checkbox" checked="" class="event-wrapper-inp" />
                <div class="bar">
                    <span class="top bar-list"></span>
                    <span class="middle bar-list"></span>
                    <span class="bottom bar-list"></span>
                </div>
                <section class="menu-container">
                    <div class="menu-list" onclick="window.location.href='/profile/1'">Profile</div>
                    <div class="menu-list" onclick="window.location.href='/chat'">Chat</div>
                    <div style="color:crimson;" class="menu-list" onclick="window.location.href='/'">Settings</div>
                </section>
        </label>
    </nav>

    <main>
        {% block content %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 ForMchat. All rights reserved.</p>
    </footer>
</body>
</html>