<!DOCTYPE html>
<html lang="zh-en">
<head>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dating App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>    
    <nav class="navbar">
    <!-- From Uiverse.io by zymantas-katinas --> 
        <button class="button" onclick="window.location.href='/mainpage'">
            <span class="shadow"></span>
                <span class="edge"></span>
                    <div class="front">
                <span>ForMchat</span>
            </div>
        </button>
        
        <div class="dropdown">
            <span>Menu</span>
                <div class="dropdown-content">
                    <a href="chatpage.html"> Inbox </a>
                    <a href="#"> Settings </a>
                    <a href="{{ url_for('profile-page', user_id=user.id) }}"> Profile </a>
                    <a href="{{ url_for('registerhome', user_id=user.id) }}"> Sign Out </a>
            </div>
                </div>
        </div>
    </nav>

    <main>
        {% block content %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}
    </main>

    <footer>  
        <div class="fot-color">   
            <p>© 2025 ForMchat. All rights reserved.</p>   
        </div>
    </footer>
</body>
</html>