{% extends "base.html" %}
{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        {% if user.avatar and 'default_avatar.jpg' not in user.avatar %}
        <img
            src="{{ url_for('media_files', filename='uploads/user_avatars/' ~ user.avatar) }}"
            class="avatar"
            onerror="this.onerror=null; this.src='{{ url_for('media_files', filename='images/default_avatar.jpg') }}'">
        {% else %}
        <img
            src="{{ url_for('media_files', filename='images/default_avatar.jpg') }}"
            class="avatar">
        {% endif %}
        <h1>{{ user.username }}, {{ user.age }}</h1>
        <p class="location">{{ user.location }}</p>
    </div>

    <div class="interaction-buttons">
        <div class="interaction-btn like-stat">
            <span class="icon">👍</span>
            <span class="count">{{ like_count }}</span>
            <span class="label">Likes</span>
        </div>
    
        <div class="interaction-btn love-stat">
            <span class="icon">❤️</span>
            <span class="count">{{ love_count }}</span>
            <span class="label">Loves</span>
        </div>
    </div>
</div>

<div class="inf-container">
    {% if user.sex %}
    <section class="sex">
        <h2>Gender</h2>
        <p>{{ user.sex }}</p>
    </section>
    {% endif %}

    {% if user.race %}
    <section class="race">
        <h2>Race</h2>
        <p>{{ user.race }}</p>
    </section>
    {% endif %}

    {% if user.faculty %}
    <section class="faculty">
        <h2>Faculty</h2>
        <p>{{ user.faculty }}</p>
    </section>
    {% endif %}

    {% if user.bio %}
    <section class="bio-section">
        <h2>About Me</h2>
        <p>{{ user.bio }}</p>
    </section>
    {% endif %}
</div>

<div class= "contact-container">
    <a href="/edit-profile/{{ user.id }}" class="edit-button">✏️ Edit profile</a>
</div>

{% endblock %}